
body {
  font-family: sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}
header, footer {
  background: #000;
  color: #fff200;
  text-align: center;
  padding: 10px;
}
main.section {
  padding: 20px;
}
.offer {
  background: #ffeb3b;
  padding: 15px;
  border-radius: 10px;
  margin: 10px auto;
  max-width: 500px;
  text-align: center;
}
.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery img {
  width: 200px;
  border-radius: 10px;
}
